* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(classroom.jpg);
  background-size: contain;
  background-position: -5%;
}

.container {
  margin: 15px 10px;

  padding: 15px;

  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  background-color: rgba(238, 234, 212, 0.95);
  border-radius: 10px;

  border: 3px solid rgb(66, 47, 10);
  box-shadow: 3px 3px 3px 3px rgb(73, 50, 7);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 1.8rem;
  word-wrap: break-word;
}
h3 {
  text-align: justify;
  hyphens: auto;
}
hr {
  border: none;

  border-top: 3px dotted black;
}

a {
  margin: 15px 0;

  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #383737;
  padding: 12px 20px;
  border: 2px solid #383737;

  max-width: 100%;
  box-sizing: border-box;
}

a:hover {
  background-color: #383737;
  color: white;
}

.jump a {
  padding: 8px 12px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.up a {
  padding: 8px 12px;
  margin-top: 20px;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .container {
    margin: 5% 25%;
    padding: 3.5%;
    font-size: 1.2rem;
    border-width: 5px;
  }

  h1 {
    font-size: 2.5rem;
  }

  hr {
    border-top-width: 5px;
  }

  a {
    padding: 10px 25px;
  }

  .jump a,
  .up a {
    padding: 5px 10px;
  }
}
